<% provide(:title, 'Login') %>
<h1>Login</h1>
<form>
    Email<br/>
    <input type="text" name="Email" style="width: 300px;"><br/><br/>
    Password<br/>
    <input type="password" name="Password" style="width: 300px;"><br/><br/>
    <button>Log in</button><br/><br/>
    New user? <a href="#">Sign up now!</a><br/><br/>
</form>